/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing

--- 02 COLORS

- Primary:
- Tints:
- Shades: 
- Accents:
- Greys

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*****************************************************/
/* GENERAL COMPONENTS */
/*****************************************************/
:root {
  --pink-background: #ffe8f5;
  --pink-medium: #906f8d;
  --pink-medium-lighter: #b98eb5;

  --pink-dark-text: #523f50;
  --pink-dark: #ff3366;

  --pink-light: #ffd6e0;
  --pink-lighter: #ffebf0;

  --background-color: #f5f5f5;
  --text-color: #151014;
  --grey: #888;

  --btn-border-radius: 15px;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2px;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-primary,
.heading-secondary {
  font-family: "League Script", sans-serif;
  font-weight: 500;
  color: var(--pink-dark-text);
}

.heading-primary {
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Raleway", sans-serif; */
  font-size: 7.4rem;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: "Tinos Static", serif;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: var(--btn-border-radius);
  transition: all 0.4s;
}

.btn--full:link,
.btn--full:visited {
  position: relative;
  color: white;
  background-color: var(--pink-medium);
}
/* 
.btn--full:hover,
.btn--full:active {
  color: white;
  background-color: var(--pink-medium-lighter);
} */

.btn--full::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: var(---pink-medium-lighter);
  transition: height 0.3s ease-out;
  z-index: -1;
}

.btn--full:hover::before,
.btn--full:active::before {
  height: 100%;
}

.btn--outline:link,
.btn--outline:visited {
  color: var(--text-color);
  background-color: white;
  /* box-shadow: inset 0 0 0 3px var(--pink-dark); */
}

.btn--outline:hover,
.btn--outline:active {
  color: var(--text-color);
  background-color: white;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
