/*
Sizing system
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Hero: 1.6
Paragraph default: 1.8
*/

:root {
  --pink-background: #ffe8f5;
  --pink-lighter: #ffebf0;
  --pink-light: #ffbbd7;
  --pink-medium: #906f8d;
  --pink-medium-darker: #7c5f79;
  --pink-dark-text: #523f50;
  --text-color: #151014;
  --grey: #888;
  --violet-light: #f8dfff;

  --btn-border-radius: 15px;
  --letter-spacing: 2.5px;
}

/*****************************************************/
/* GENERAL COMPONENTS */
/*****************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: var(--text-color);
  background-color: white;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

p {
  margin-bottom: 5px;
  font-size: 1.8rem;
  line-height: 1.8;
}

/*****************************************************/
/* GRIDS AND CONTAINERS */
/*****************************************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2px;
}

.section {
  padding: 9.6rem 0;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2-cols--1-3 {
  grid-template-columns: 1fr 3fr;
}

/*****************************************************/
/* HEADINGS */
/*****************************************************/

.heading-primary,
.heading-secondary {
  font-family: "Gwendolyn", sans-serif;
  font-weight: 500;
  color: var(--pink-dark-text);
}

.heading-primary {
  font-size: 9.8em;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.8em;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-family: "Tinos Static", serif;
  font-size: 2rem;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--pink-dark-text);
}

/*****************************************************/
/* BUTTONS */
/*****************************************************/

.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  font-family: "Tinos Static", serif;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  line-height: 1;
  align-self: center;
  border-radius: var(--btn-border-radius);
  z-index: 0;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  transition: width 0.4s ease-out;
  z-index: -1;
}

.btn:hover::before,
.btn:active::before {
  width: 100%;
}

.btn--full:link,
.btn--full:visited {
  color: white;
  background-color: var(--pink-medium);
}

.btn--full::before {
  background: var(--pink-medium-darker);
}

.btn--empty:link,
.btn--empty:visited {
  color: var(--text-color);
  background-color: white;
}

.btn--empty::before {
  background: var(--pink-background);
}

.btn--outline:link,
.btn--outline:visited {
  color: var(--text-color);
  background-color: white;
  box-shadow: inset 0 0 0 3px var(--violet-light);
}

.btn--outline::before {
  background: var(--violet-light);
}

/*****************************************************/
/* SETTINGS */
/*****************************************************/

.margin-right-sm {
  margin-right: 1.6rem !important;
}
