/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing

--- 02 COLORS

- Primary:
- Tints:
- Shades: 
- Accents:
- Greys

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*****************************************************/
/* GENERAL COMPONENTS */
/*****************************************************/

:root {
  --pink-background: #ffe8f5;
  --pink-medium: #906f8d;
  --pink-medium-lighter: #b98eb5;
  --pink-medium-darker: #7c5f79;

  --pink-dark-text: #523f50;
  --pink-dark: #ff3366;

  --pink-light: #ffd6e0;
  --pink-lighter: #ffebf0;

  --text-color: #151014;
  --grey: #888;

  --btn-border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: var(--text-color);
  background-color: var(--pink-background);
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

p {
  margin-bottom: 5px;
  font-size: 1.8rem;
  line-height: 1.8;
}

/*****************************************************/
/* GRIDS AND CONTAINERS */
/*****************************************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2px;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2-cols--1-3 {
  grid-template-columns: 1fr 3fr;
}

/*****************************************************/
/* HEADINGS */
/*****************************************************/

.heading-primary,
.heading-secondary {
  font-family: "Gwendolyn", sans-serif;
  font-weight: 500;
  color: var(--pink-dark-text);
}

.heading-primary {
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Raleway", sans-serif; */
  font-size: 9.8em;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.8em;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-family: "Tinos Static", serif;
  font-size: 2rem;
}

/*****************************************************/
/* BUTTONS */
/*****************************************************/

.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: "Tinos Static", serif;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: var(--btn-border-radius);
  z-index: 0;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  transition: width 0.4s ease-out;
  z-index: -1;
}

.btn:hover::before,
.btn:active::before {
  width: 100%;
}

.btn--full:link,
.btn--full:visited {
  color: white;
  background-color: var(--pink-medium);
}

.btn--full::before {
  background: var(--pink-medium-darker);
}

.btn--empty:link,
.btn--empty:visited {
  color: var(--text-color);
  background-color: white;
}

.btn--empty::before {
  background: var(--pink-background);
}

.btn--outline:link,
.btn--outline:visited {
  color: var(--text-color);
  background-color: white;
  box-shadow: inset 0 0 0 3px #f8dfff;
}

.btn--outline::before {
  background: #f8dfff;
}

/*****************************************************/
/* SETTINGS */
/*****************************************************/

.margin-right-sm {
  margin-right: 1.6rem !important;
}
