/*****************************************************/
/* BELOW 1344px */
/*****************************************************/

@media (max-width: 84em) {
  .hero__container {
    max-width: 120rem;
  }

  .heading--primary {
    font-size: 8.6rem;
  }
}

/*****************************************************/
/* BELOW 1200px */
/*****************************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero__container {
    gap: 4.8rem;
  }
}

/*****************************************************/
/* BELOW 944px */
/*****************************************************/

@media (max-width: 59em) {
  .hero__container {
    grid-template-columns: 1fr;
    padding: 0rem 8rem;
    gap: 8rem;
  }

  .services__grid {
    grid-template-columns: 1fr 1fr;
  }

  .hero__description-wrapper,
  .hero__img-wrapper {
    text-align: center;
  }

  .hero__img {
    max-width: 40%;
  }

  .container {
    padding: 0 8rem;
  }

  .header__nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: rgba(255, 232, 245, 0.9);
    transition: all 0.4s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .header__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    margin: 0;
  }

  .header__btn-mobile-nav {
    display: block;
  }

  .nav-open .header__icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .header__icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .header__nav-link:link,
  .header__nav-link:visited {
    font-size: 3rem;
  }

  .header__nav-link::after {
    display: none;
  }

  .header__nav-item--cta {
    display: block;
    margin: 0;
  }

  .header .btn {
    font-size: 3rem;
  }

  .btn::before,
  .btn--outline::before,
  .btn--full::before {
    display: none;
  }

  .grid {
    gap: 6rem;
  }

  .index__section-description {
    padding-left: 8rem;
  }

  .index__services-img-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__grid {
    gap: 3.2rem;
  }

  .about__trainings-training {
    grid-template-columns: 1fr 4fr;
  }
}

/*****************************************************/
/* BELOW 704px */
/*****************************************************/

@media (max-width: 44rem) {
  .index__cta {
    text-align: center;
  }

  .index__cta-text-box {
    padding: 4rem 4rem 4.8em 4rem;
  }

  .footer__grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 9.6rem;
  }

  .footer__column--social {
    grid-row: 1;
    grid-column: 1;
  }

  .footer__column--nav {
    grid-row: 1;
  }

  .footer__column--info {
    grid-column: -1 / 1;
    justify-items: center;
    text-align: center;
  }
}

/*****************************************************/
/* BELOW 544px */
/*****************************************************/

@media (max-width: 34rem) {
  .grid {
    gap: 4.8rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid--2-cols--1-3 {
    grid-template-columns: 1fr;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .services__grid {
    grid-template-columns: 1fr;
    padding: 3.2rem 3.2rem;
  }

  .container {
    padding: 0 2.4rem;
  }

  .index__section {
    padding: 0 0 8rem 0;
  }

  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.8rem;
  }

  .hero__container {
    padding: 0rem 6rem;
  }

  .heading--primary {
    font-size: 6.2rem;
  }

  .heading--secondary {
    text-align: center;
  }

  .index__section-description {
    padding: 0;
    border: none;
    text-align: center;
  }

  .index__services-img-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .index__cta-grid {
    grid-template-columns: 1fr;
  }

  .index__cta-img-box {
    display: none;
  }

  .footer__grid {
    gap: 3rem;
  }

  .about__trainings {
    grid-template-columns: 1fr 3fr;
  }

  .training__year {
    font-size: 3.2rem;
  }
}

/*****************************************************/
/* BELOW 464px */
/*****************************************************/
@media (max-width: 29rem) {
  .btn.btn--full.margin-right-sm {
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }
}

/*****************************************************/
/* BELOW 384px */
/*****************************************************/

@media (max-width: 24rem) {
  .hero__container {
    padding: 0rem 2rem;
  }
}
