/*****************************************************/
/* BELOW 1344px */
/*****************************************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 8.6rem;
  }
}

/*****************************************************/
/* BELOW 1200px */
/*****************************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    gap: 4.8rem;
  }
}

/*****************************************************/
/* BELOW 944px */
/*****************************************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0rem 8rem;
    gap: 8rem;
  }

  .services-grid {
    grid-template-columns: 1fr 1fr;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 50%;
  }

  .container {
    padding: 0 8rem;
  }

  .header-nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: rgba(255, 232, 245, 0.9);
    transition: all 0.4s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .header-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    margin: 0;
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .header-nav-list {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  .header-nav-link:link,
  .header-nav-link:visited {
    font-size: 3rem;
  }

  .header-btn {
    display: block;
    margin: 0;
  }

  .header .btn {
    font-size: 3rem;
  }

  .btn::before,
  .btn--outline::before,
  .btn--full::before {
    display: none;
  }

  .grid {
    gap: 6rem;
  }

  .studio-description,
  .contact-description {
    padding-left: 8rem;
  }

  .circle-img-box::before,
  .flip-card-back {
    display: none;
  }

  .flip-card:hover .flip-card-inner {
    transform: none;
  }

  .services-img-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-grid {
    gap: 3.2rem;
  }
}

/*****************************************************/
/* BELOW 704px */
/*****************************************************/

@media (max-width: 44rem) {
  .section-booking {
    text-align: center;
  }

  .booking-text-box {
    padding: 4rem 4rem 4.8em 4rem;
  }

  .social-col {
    grid-row: 1;
    grid-column: 1;
  }

  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 9.6rem;
  }

  .nav-col {
    grid-row: 1;
  }

  .info-col {
    grid-column: -1 / 1;
    justify-items: center;
  }
}

/*****************************************************/
/* BELOW 544px */
/*****************************************************/

@media (max-width: 34rem) {
  .grid {
    gap: 4.8rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid--2-cols--1-3 {
    grid-template-columns: 1fr;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .services-grid {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .flip-card-front {
    position: relative;
  }

  .container {
    padding: 0 2.4rem;
  }

  .section.section-hero,
  .section.studio-about,
  .section.contact-where {
    padding: 0 0 8rem 0;
  }

  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.8rem;
  }

  .hero {
    padding: 8rem 6rem;
  }

  .heading-primary {
    font-size: 6.2rem;
  }

  .heading-secondary {
    text-align: center;
  }

  .hero-img-box {
    display: none;
  }

  .studio-description,
  .contact-description {
    padding: 0;
    border: none;
    text-align: center;
  }

  .services-img-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .booking-grid {
    grid-template-columns: 1fr;
  }

  .booking-img-box {
    display: none;
  }

  .footer-grid {
    gap: 3rem;
  }
}

/*****************************************************/
/* BELOW 384px */
/*****************************************************/

@media (max-width: 24rem) {
  .hero {
    padding: 6rem 4rem;
  }
}
