@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Nunito:wght@400;500;700&family=Tinos:wght@400;700&display=swap");
/*****************************************************/
/* COLORS */
/*****************************************************/
/*****************************************************/
/* FONTS */
/*****************************************************/
/*****************************************************/
/* SPACING */
/*****************************************************/
/*****************************************************/
/* BREAKPOINTS */
/*****************************************************/
/*****************************************************/
/* OTHER */
/*****************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #151014;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/*****************************************************/
/* COLORS */
/*****************************************************/
/*****************************************************/
/* FONTS */
/*****************************************************/
/*****************************************************/
/* SPACING */
/*****************************************************/
/*****************************************************/
/* BREAKPOINTS */
/*****************************************************/
/*****************************************************/
/* OTHER */
/*****************************************************/
.about__education-img-box {
  margin-top: 4.8rem;
}
.about__trainings {
  background-color: #ffe8f5;
}
.about__trainings-training {
  margin-bottom: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2.4rem;
}
.about__trainings-training-year {
  display: flex;
  justify-self: left;
  font-family: "Tinos Static", serif;
  font-size: 4rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #523f50;
  font-weight: bold;
}
.about__trainings-training-item {
  display: flex;
  flex-direction: column;
}
.about__trainings-training-name {
  font-family: "Tinos Static", serif;
  font-size: 2em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #523f50;
  font-weight: bold;
}
.about__trainings-training-lecturer {
  margin-bottom: 1.6rem;
}

.booking__reservio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__map {
  margin-bottom: 9.6rem;
}
.contact__how {
  background-color: #ffe8f5;
}
.contact__how-icons-wrapper {
  display: flex;
  gap: 0.8rem;
  margin: 1rem 0 2rem 0;
  align-items: center;
}
.contact__how-icon {
  height: 2rem;
  font-size: 2rem;
  color: white;
  z-index: 20;
}
.contact__how-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
}
.contact__how-icon-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #906f8d;
  border-radius: 50%;
  z-index: 10;
}
.contact__how-h3 {
  margin-bottom: 0 !important;
}

.faq__question {
  font-family: "Tinos Static", serif;
  font-size: 2.4rem;
  letter-spacing: 2.5px;
  text-align: left;
  width: 100%;
  padding: 1.2rem 1.6rem;
  color: #523f50;
  background-color: #f7f7f7;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.faq__question:hover, .faq__question:active, .faq__question.active {
  background-color: #ffbbd7;
}
.faq__answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.6rem;
  background-color: #fcfcfc;
  border-left: 3px solid #ffbbd7;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: all 0.4s;
}
.faq__answer.displayed {
  display: block;
  max-height: 50rem;
  padding: 1.2rem 1.6rem;
}
.faq__icon {
  font-size: 1.6rem;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}
.faq__question.active .faq__icon {
  transform: rotate(90deg);
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.hero__bg {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)), url(../img/background.jpg);
  background-size: cover;
  z-index: 1;
}
.hero__container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  padding-top: 9.6rem;
  align-items: center;
}
.hero__description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}
.hero__img {
  width: 100%;
}

.index__section-flip-card {
  background-color: transparent;
  perspective: 1000px;
}
.index__section-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.index__section-flip-card-back {
  padding: 3.2rem;
  transform: rotateY(180deg);
}
.index__section-flip-card-front, .index__section-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.index__section-flip-card:hover .index__section-flip-card-inner {
  transform: rotateY(180deg);
}
.index__section-flip-card-description {
  font-size: 3rem;
  font-family: "Gwendolyn", sans-serif;
}
.index__section-flip-card-name {
  font-family: "Tinos Static", serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.index__section-circle-img {
  position: absolute;
  width: 87%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 50%;
  object-fit: cover;
}
.index__section-circle-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 100%;
}
.index__section-circle-img-box::before {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #f8dfff;
  z-index: 0;
}
.index__section-description {
  border-left: 1px solid #f8dfff;
  padding-left: 11rem;
}
.index__studio {
  margin-top: calc(100vh - 7.2rem);
  background-color: white;
  align-items: center;
}
.index__services {
  background-color: #ffe8f5;
}
.index__services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index__services-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  transition: all 0.4s;
}
.index__services-img:hover {
  transform: scale(110%);
}
.index__services-img-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.8rem;
  padding: 3.6em 0.8rem 0.5rem 0.8rem;
}
.index__services-item {
  position: relative;
  overflow: hidden;
}
.index__services-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(255, 187, 215, 0.4), rgba(255, 232, 245, 0.4));
  z-index: 2;
  pointer-events: none;
  transition: all 0.4s;
}
.index__services-item:hover::before {
  opacity: 0;
}
.index__services-btn {
  margin-top: 4.2rem;
}
.index__cta {
  padding: 9.6rem 0 12.8rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}
.index__cta-grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #7c5f79, #906f8d);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  overflow: hidden;
}
.index__cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: white;
}
.index__cta-h2 {
  color: white !important;
}
.index__cta-description {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
}
.index__cta-img-box {
  background-image: linear-gradient(to right bottom, rgba(255, 187, 215, 0.3), rgba(255, 232, 245, 0.3)), url("../img/index-cta.jpg");
  background-size: cover;
  background-position: center;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
  max-width: 140rem;
  margin: 0 auto 2rem auto;
  padding: 3.2rem 6.4rem;
}
.services__heading-container {
  display: flex;
  background-color: white;
  grid-column: 1/-1;
  align-items: center;
}
.services__heading-img {
  height: 8rem;
  margin: 0 2.4rem;
}
.services__service {
  background: linear-gradient(to bottom, #ffe8f5 0%, #ffebf0 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 1rem;
  position: relative;
  transition: transform 0.3s ease-out;
}
.services__service::before {
  content: "";
  display: block;
  position: absolute;
  left: 35%;
  top: -1.5rem;
  width: 10rem;
  height: 2.5rem;
  z-index: 2;
  background-color: rgba(243, 245, 228, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.services__service--left {
  transform: rotate(1deg);
}
.services__service--right {
  transform: rotate(-1deg);
}
.services__service-overview {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services__service-h3 {
  position: relative;
  display: inline-block;
  padding-bottom: 0.8rem;
}
.services__service-h3::before {
  content: "";
  position: absolute;
  bottom: 0.6rem;
  width: 100%;
  height: 1.4rem;
  transform: skew(-12deg);
  background: rgba(255, 187, 215, 0.7);
  z-index: -1;
}
.services__service-icons-wrapper {
  display: flex;
  gap: 0.8rem;
  margin: 1rem 0 0 0;
  align-items: center;
}
.services__service-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
}
.services__service-icon-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #906f8d;
  border-radius: 50%;
  z-index: -1;
}
.services__service-icon-container:hover::before {
  background-color: #7c5f79;
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}
.services__service-icon-container:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}
.services__service-icon-container span {
  position: absolute;
  background: white;
  color: #151014;
  font-size: 1.6rem;
  width: 10rem;
  font-weight: 700;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 9px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.services__service-icon-container span::before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}
.services__service-icon {
  height: 2rem;
  font-size: 2rem;
  color: white;
  z-index: 1;
}
.services__service-icon:before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}
.services__service-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  height: 3.5rem;
  margin-top: 2.4rem;
  padding: 0 1.6rem;
  font-size: 2.4rem;
  color: white;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-right: 2.4rem;
  position: relative;
  z-index: 1;
}
.services__service-price::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  z-index: -1;
  background-color: #ffbbd7;
}
.services__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 0 4.8rem 0;
  margin: 4.8rem auto 4.8rem auto;
  background-color: #7c5f79;
}
.services__cta-title {
  color: white !important;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.section {
  padding: 9.6rem 0;
}

.section--first {
  padding-top: 2.4rem;
  background-color: white;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.2rem;
  padding: 0 4.8rem;
  background: transparent;
  line-height: 1;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 5;
  /* MOBILE NAVIGATION */
}
.header__logo {
  height: 4.6em;
  display: block;
  object-fit: contain;
}
.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 5rem;
  align-items: center;
  gap: 4.8rem;
  min-width: 0;
}
.header__nav-list {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: left;
  align-items: center;
  gap: 3.2rem;
}
.header__nav-link {
  position: relative;
  display: inline-block;
  font-family: "Tinos Static", serif;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #523f50;
  transition: color 0.3s;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1rem;
  background: rgba(255, 187, 215, 0.7);
  transform: skew(-12deg);
  transition: width 0.3s ease-out;
  z-index: -5;
}
.header__nav-link:hover::after {
  width: 100%;
}
.header__nav-item--cta {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__btn-mobile-nav {
  margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 99999;
}
.header__icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #523f50;
}
.header__icon-mobile-nav[name=close-outline] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 232, 245, 0.9);
  height: 8rem;
  padding-top: 0;
  padding-top: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}

body.sticky {
  padding-top: 9.6rem;
}

.footer {
  padding: 12.8rem 0;
  background-color: #ffe8f5;
  border-top: 1px solid #ffbbd7;
}
.footer__grid {
  grid-template-columns: 0.75fr 0.75fr 1fr 2.25fr;
}
.footer__logo {
  display: block;
  max-height: 4.6em;
  margin-bottom: 3.2rem;
}
.footer__social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}
.footer__social-link ion-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #888;
  transition: all 0.3s;
}
.footer__social-link ion-icon:hover {
  color: #151014;
}
.footer__heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}
.footer__nav-link {
  font-size: 1.6rem;
  color: #888;
  transition: all 0.3s;
}
.footer__nav-link:hover, .footer__nav-link:active {
  color: #151014;
}
.footer__description {
  font-size: 1.6rem;
  color: #888;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.4rem;
  background-color: #523f50;
  margin-bottom: 0;
}
.footer__copyright-text {
  color: white;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--2-cols--1-3 {
  grid-template-columns: 1fr 3fr;
}

/*****************************************************/
/* UTILITIES – SPACING */
/*****************************************************/
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-top-sm {
  margin-top: 1.6rem !important;
}
.margin-top-md {
  margin-top: 3.2rem !important;
}
.margin-top-lg {
  margin-top: 6.4rem !important;
}
.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 3.2rem !important;
}

/*****************************************************/
/* UTILITIES – TEXT ALIGNMENT */
/*****************************************************/
.text-center {
  text-align: center !important;
}

/*****************************************************/
/* GENERAL COMPONENTS */
/*****************************************************/
p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 5px;
}

/*****************************************************/
/* HEADINGS */
/*****************************************************/
.heading--primary, .heading--secondary {
  font-family: "Gwendolyn", sans-serif;
  font-weight: 400;
  color: #523f50;
}
.heading--primary {
  font-size: 9.8em;
}
.heading--secondary {
  font-size: 4.8rem;
}
.heading--secondary-footer {
  font-family: "Tinos Static", serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 3.2rem 0 1.6rem 0;
  color: #523f50;
}
.heading--tertiary {
  font-family: "Tinos Static", serif;
  font-size: 2rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #523f50;
}

/*****************************************************/
/* UL */
/*****************************************************/
.ul--footer {
  margin: 0 0 2.4rem 3.6rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

/*****************************************************/
/* LINK */
/*****************************************************/
.link--default:active, .link--default:link {
  color: #7c5f79;
  transition: all 0.3s;
}
.link--default:active:hover, .link--default:active:visited, .link--default:link:hover, .link--default:link:visited {
  color: #523f50;
}

/*****************************************************/
/* BUTTONS */
/*****************************************************/
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: "Tinos Static", serif;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  line-height: 1;
  align-self: center;
  border-radius: 15px;
  z-index: 0;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  transition: width 0.4s ease-out;
  z-index: -1;
}

.btn:hover::before,
.btn:active::before {
  width: 100%;
}

.btn--full:link,
.btn--full:visited {
  color: #ffffff;
  background-color: #7c5f79;
}

.btn--full::before {
  background: #523f50;
}

.btn--empty:link,
.btn--empty:visited {
  color: #523f50;
  background-color: #ffffff;
}

.btn--empty::before {
  background: #ffe8f5;
}

.btn--outline:link,
.btn--outline:visited {
  color: #151014;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #f8dfff;
}

.btn--outline::before {
  background: #f8dfff;
}

/*# sourceMappingURL=style.css.map */
